<div class="flex flex-col items-center justify-center w-full">
    <div class="flex justify-center bg-base-100 pb-2 pt-1">
        <span>
            Background image credit: 
            <a class="text-primary underline" [href]="credits?.authorHref">{{credits?.authorName}}</a>
            on 
            <a class="text-primary underline" [href]="credits?.siteHref">VisualHunt.com</a>
        </span>
    </div>

    <hr class="w-11/12 border-primary">

    <div class="w-full flex justify-evenly">
        <span class="mx-20 my-6 text-success text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id non adipisci, laudantium provident, commodi beatae, ducimus quae ullam eum optio sint quia facilis quisquam. Sed neque nemo dignissimos deleniti delectus?</span>
        <span class="mx-20 my-6 text-success text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id non adipisci, laudantium provident, commodi beatae, ducimus quae ullam eum optio sint quia facilis quisquam. Sed neque nemo dignissimos deleniti delectus?</span>
    </div>
</div>